body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styling for the Masonry feed */

#feed {
  margin: 20px;
}

#masonry {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;

  margin-top: 20px;
  padding: 10px;
  max-height: 500px;
  overflow-y: scroll;
}

.masonryColumn {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

.masonryCell { /* change div to reference your elements you put in <Masonry> */
  position: relative;
  background: lightgray;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

.masonryCell > .content {
  padding-bottom: 24px;
}

.masonryCell img {
  width: 100%;
}

.masonryCell > .timeLabel {
  position: absolute;
  bottom: 8px;
  left: 12px;
  margin: 0;
  color: darkgrey;
}

.masonryCell > .cellOrigin {
  position: absolute;
  bottom: 12px;
  right: 12px;
}